.Rhistory
.RData
.Rproj.user/
.DS_Store

# raw data and archives
00_raw_data/
06_scRNA/01_raw_data/
07_drug/01_raw_data/
05_MR/01_raw_data/
12_temp/
tmp/
temp/
cache/

# large binaries
*.tar
*.tar.gz
*.zip
*.gz
*.fastq
*.fastq.gz
*.fq
*.fq.gz
*.bam
*.sam
*.h5
*.h5ad
*.loom
*.rds
*.rda
